.wrapper {
  padding: 80px 60px;
  padding-bottom: 20px;
  background: #fff;
  font-family: "D-DIN", Arial, sans-serif;
  color: #000;
}

/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.header h2 {
  font-size: 2.6rem;
  font-weight: 700;
}

.link {
  font-size:18px;
  font-weight: 600;
  cursor: pointer;
  color: black;
  text-decoration: none;
}

/* SOLAR CARDS */
.cards {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 16px;
  height: 420px;
    margin-bottom: 150px;
}

.card {
  position: relative;
  
  overflow: hidden;
  border-radius: 6px;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card span {
  position: absolute;
  bottom: 12px;
  font-family: "D-DIN", Arial, sans-serif;
  left: 12px;
  color: #f0f0fae6;
  font-weight: 600;
  font-size: 30px;
}


