.wrapper {
  width: 100%;
 
  padding-top: 4rem;
  padding-left: 6rem;
  padding-right:6rem ;
  background-color: #ffffff;
  margin-bottom: 80px;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1.3fr;
  gap: 4rem;
  align-items: start;
}

/* LEFT */
.textContent {
  max-width: 520px;
}

.today {
  display: block;
  font-size: 0.7rem;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #6b6b6b;
  margin-bottom: 0.5rem;
}

.heading {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
  color:black;
}

.title {
  font-size:18px;
  font-weight: 700;
  margin-bottom: 1rem;
   color:black;
}

.description {
  font-size: 16px;
  line-height: 1.6;
 color:black;
  margin-bottom: 1.5rem;
}

.archiveLink {
  font-size: 18px;
  font-weight: 600;
  color: black;
  text-decoration: none;

  display: inline-flex;       /* make text and SVG align */
  align-items: center;        /* vertically center */
  gap: 6px;                   /* spacing between text and SVG */
}

.archiveLink span {
  color: #e10600;
  margin-left: 0.25rem;
}

/* RIGHT */
.imageWrapper {
  position: relative;
}

.imageWrapper img {
  width: 100%;
  display: block;
}

.viewImage {
  position: absolute;
  bottom: -1.5rem;
  right: 0;
  font-size: 18px;
  font-weight: 600;
  color: #000;
  text-decoration: none;
  padding-top: 10px;
}

.viewImage span {
  color: #e10600;
  margin-left: 0.25rem;
}

/* RESPONSIVE */
@media (max-width: 1024px) {
  .wrapper {
    padding: 3rem 2rem;
  }

  .container {
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  .viewImage {
    position: static;
    margin-top: 0.75rem;
    display: inline-block;
  }
}
.arrowCircle {
  fill: red;
  transition: fill 0.3s ease;
}

.arrowIcon {
  fill: #f0f0fae6;
  transition: transform 0.3s ease;
}

.aboutusLink:hover .arrowCircle {
  fill: #8b0000; /* dark red */
}

.aboutusLink:hover .arrowIcon {
  transform: translateX(4px);
}


.archiveLink {
  font-size: 18px;
  font-weight: 600;
  color: black;
  text-decoration: none;

  display: inline-flex;       /* make text and SVG align */
  align-items: center;        /* vertically center */
  gap: 6px;                   /* spacing between text and SVG */
}

.arrowWrapper {
  display: inline-flex;
  align-items: center;
}

.arrow {
  flex-shrink: 0;
}

.arrowCircle {
  fill: red;
  transition: fill 0.3s ease;
}

.arrowIcon {
  fill: #f0f0fae6;
  transition: transform 0.3s ease;
}

/* hover animation */
.archiveLink:hover .arrowCircle {
  fill: #8b0000; /* dark red */
}

.archiveLink:hover .arrowIcon {
  transform: translateX(4px);
}

