.header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 24px 15px;
  background: transparent;
  z-index: 100;
}

.left {
  display: flex;
  align-items: center;
  gap: 30px;
  height: 38px;
}


.spacexLogo {
  width: 160px;
  filter: brightness(0) invert(1);
}


.nav {
  display: flex;
  align-items: center;
  gap: 36px;
  align-self: flex-start;
}

.nav a,
.nav span {
  font-family: "D-DIN", "DIN", "Arial", sans-serif;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bold;
  color: #f0f0fae6;
  text-decoration: none;

  position: relative;
}

.dropdown {
  position: relative;
}
.dropdown::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 30px;
  pointer-events: none; 
}

.menu {
  position: absolute;
  top: 100%;
  left: 0;

  display: flex;
  flex-direction: column;
  gap: 12px;

  min-width: 220px;

  background: none;
  padding: 12px 0;

  opacity: 0;
  transform: translateY(-8px);
  pointer-events: none;

  transition:
    opacity 0.25s ease,
    transform 0.25s ease;
}
.nav a,
.nav span,
.menu a {
  cursor: default;
}



.dropdown:hover .menu {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}
