* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "D-DIN", "DIN", "Arial", sans-serif;
}

.home {
  color: white;
}

.hero {
  position: relative;
  width: 100vw;
  height: 940px; /* increase/decrease as needed */
  overflow: hidden;
}

.slider {
  display: flex;
  width: 300vw; /* 3 slides */
  height: 100%;
  transition: transform 1.2s ease-in-out;
}

/* EACH SLIDE */
.slide {
  position: relative;
  width: 100vw;
  height: 100%;
  flex-shrink: 0;
  cursor: default;
}

/* VIDEO */
.video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* DARK GRADIENT */
.overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.65),
    rgba(0, 0, 0, 0.15),
    transparent
  );
}

/* TEXT CONTENT */
.content {
  position: absolute;
  left: 90px;
  top: 45%;
  transform: translateY(-50%);

  color: #f0f0fae6;
}

.content h1 {
  font-size: 3rem;
  font-family: "D-DIN", "DIN", "Arial", sans-serif;
  line-height: 48px;
  margin-bottom: 16px;
  text-transform: uppercase;
  animation: slideUp 0.8s ease forwards;
}

.content p {
  font-size: 18px;
  opacity: 0.85;
  animation: slideUp 1s ease forwards;
  min-width: 730px;
}

/* TEXT ANIMATION */
@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(25px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.statusRow {
  display: flex;
  align-items: center;
  gap: 18px;
  margin-bottom: 20px;
  flex-wrap: nowrap;
}

.statusDot {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background: #22c55e;

  box-shadow: 0 0 10px rgba(34, 197, 94, 0.8);
}

.statusLabel {
  font-size: 3rem;
  font-weight: 600;
  letter-spacing: 0.12em;
  color: rgba(255, 255, 255, 0.95);
  line-height: 1;

  white-space: nowrap;
}

.description {
  font-size: 1.1rem;
  line-height: 1.7;
  max-width: 720px;
  color: rgba(255, 255, 255, 0.75);
}
