.section {
  background: black;
  color: #f0f0fae6;
  padding: 100px 0;
}

.container {
  max-width: 1300px;
  margin: auto;
  display: grid;
  grid-template-columns: 1.1fr 1fr;
  gap: 60px;
  align-items: center;
}

/* LEFT SIDE */
.left {
  max-width: 520px;
      margin-left: 65px;
}

.label {
  display: block;
  font-size: 13px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #9a9a9a;
  margin-bottom: 18px;
}

.title {
  font-size: 64px;
  font-weight: 800;
  line-height: 1.1;
  margin-bottom: 16px;
}

.meta {
  font-size: 14px;
  color: #aaa;
  margin-bottom: 24px;
}

.description {
  font-size: 18px;
  line-height: 1.7;
  font-family: "D-DIN", "DIN", "Arial", sans-serif;
  color: #f0f0fae6;
  margin-bottom: 20px;
}

.link {
  color: #fff;
  text-decoration: none;
  font-family: "D-DIN", "DIN", "Arial", sans-serif;
  border-bottom: 1px solid f0f0fae6;
  padding-bottom: 4px;
  font-weight: bold;
}

/* RIGHT SIDE (VIDEO ONLY) */
.right iframe {
width: 500px;
  height: 360px;
  border-radius: 6px;
  margin-right: 60px;
}
.rightbox {
 margin-right: 40px;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .container {
    grid-template-columns: 1fr;
  }

  .right iframe {
    height: 260px;
  }
}

.link {
  display: inline-flex;
  align-items: center;
  gap: 14px;

  color: #ffffff;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  font-family: "D-DIN", "DIN", "Arial", sans-serif;

  position: relative;
  margin-top: 24px;

  transition: transform 0.3s ease, opacity 0.3s ease;
}


/* SVG */.arrowCircle {
  fill: red;
  transition: fill 0.3s ease;
}

.arrowIcon {
  fill: #f0f0fae6;
  transition: transform 0.3s ease;
}
.link:hover .arrowCircle {
  fill: #8b0000; /* dark red */
}

