.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.9);
  z-index: 9999;

  display: flex;
  align-items: center;
  justify-content: center;
}

.image {
  max-width: 90vw;
  max-height: 90vh;
  object-fit: contain;
  border-radius: 8px;
}

.close {
  position: absolute;
  top: 20px;
  right: 30px;

  font-size: 28px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}
